---
import Navigation from "../components/Navigation.astro";

const pageTitle = "Mi primera pagina con Astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>
	</head>
	<body>
		<Navigation />
		<h1>Mi primera pagina con Astro</h1>
	</body>
</html>

<style>
	h1{
		color: red;
		font-size: 2rem;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}
</style>
